@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    height: 100vh;
    overflow-y: hidden;
}

.parent {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw;
    height: 90vh;
}

.div1 {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 50px;
    color: hsl(234, 29%, 20%);
}

.div2 {
    background-color: hsl(240, 25%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.div2 img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: contain;
    margin: 10px;
}

#head{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}